/* Colors */

$aside-background: #191919;
$aside-background-active: #282828;

$data-text-color: #333;
$main-text-color: #979797;
$main-text-color-hover: #BABABA;
$disabled-text-color: #E3E3E3;
$background-main-color: #F3F3F1;
$background-section-color: #fff;

$brand-color: #F58220;
$brand-color-hover: #FFA200;
$checkbox-color: #04AE00;
$success-color: #74B67A;
$success-color-hover: #96CC9B;

$danger-color:#DE5252;
$danger-color-hover: #EC7171;
$link-color: #56819F;
$chart-secondary-color: #80BFCA;
$fatal-color: #FF0000;


/* Font sizes */
$paragraph-font-size: 13.5px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$main-font: "Open Sans", Helvetica, Arial;