aside {
	
	.sidebar-container {
		position: fixed;
		background-color: $aside-background;
		z-index: 9999;
		left: 0;
		top: 0;
	}

	.company-logo {
		height: 23px;
	}

	img {
		margin: 18px 7px 14px 18px;
		display: inline-block;
	}

	.dropdown-button {
		display: inline-block;
		float: right;
		margin: 17px 7px 0 0;
		font-weight: 900;
		font-size: 23px;
		font-style: normal;
		color: $main-text-color;
		cursor: pointer;
	}

	ul {
		position: relative;
		padding-bottom: 26px;
		border-bottom: 1px solid $aside-background-active;

		li {

			a {
				position: relative;
				color: inherit;
				vertical-align: middle;
				display: inline-block;
				width: 100%;
				height: 100%;
				padding: 13px 0 13px 10px;

				&:hover,
				&.active {
					background-color: $aside-background-active;
					color: $background-section-color;

					&::after {
						position: absolute;
						content: "";
						top: 0;
						left: 0;
						width: 5px;
						height: 100%;
						background-color: $brand-color;
					}
				}

				i {
					padding-right: 13px;
				}
			}
		}
	}


	.manager-profile {	
		padding: 25px 18px 50px;

		h2 {
			padding-left: 3px;
		}

		div {
			height: 42px;
		}

		a,
		img {
			display: inline-block;
			line-height: 42px;
		}

		img {
			height: 100%;
			width: auto;
			border-radius: 50%;
			vertical-align: middle;
			margin-left: 2px;
			margin-right: 7px;
			margin-top: 15px;
			position: relative;
		}

		a {
			position: relative;
			display: inline;

			&::before {
				content: "";
				position: absolute;
				top: -11px;
				left: -22px;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: $checkbox-color;
			}		
		}
	}
}


//				TOP MENU			//


header {
	width: 100%;
	background-color: $background-section-color;
	border-bottom: 1px solid $disabled-text-color;

	ul {
		text-align: center;
		font-size: 0;

		li {
			display: block;
    		vertical-align: top;
			height: 100%;
			line-height: 60px;
			padding-top: 0;
			padding-bottom: 0;
			font-size: $paragraph-font-size;
			cursor: pointer;
			border-bottom: 1px solid $disabled-text-color;

			&:hover {
				background-color: $background-main-color;
			}

			a {
				color: inherit;
				font-size: inherit;
				padding: 0;
				width: 100%;
				height: 100%;

				&:hover {
					color: $main-text-color;
				}
			}

			i {
				padding: 0 20px;
				font-size: 16.5px;
				vertical-align: middle;
			}

			.wallet {
				font-size: 20px;
				font-weight: 600;
				position: relative;

				.icon-arrow-down-small {
					font-size: 12px;
				}
			}

			.icon-notification {
				position: relative;

				&.new-notification {

					&::after {
						content: "";
						position: absolute;
						top: 16px;
						right: 18px;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background-color: $brand-color;
					}
				}
			}

			.link-small {
				padding-left: 0;
				padding-right: 20px;
				vertical-align: top;
			}
		}
	}
}








//			MOBILE RESPONSIBILITY			//

@media (max-width: 768px) {

	.side-menu {
		display: none;

		&.show {
			display: block;
		}
	}

	.sidebar-container {
		width: 100%;
	}

	header {
		margin-top: 58px;
	}
}

@media (min-width: 768px) {

	section:first-of-type {
		margin-top: 78px;
	}

	.page-wrapper {
		aside.sidebar {

			.sidebar-container {
				position: fixed;
				height: 100vh;

				.dropdown-button {
					display: none;
				}
			}
		}

		header {
			height: 61px;
			float: right;
			right: 0;
			z-index: 9998;
			position: fixed;

			ul {
				text-align: right;
			
				li {
					display: inline-block;
					border-left: 1px solid $disabled-text-color;
					border-bottom: none;

					&.wallet .wallet-dropdown {
						position: absolute;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.page-wrapper {
		aside.sidebar {
			flex: 0 0 14.7%;
			max-width: 14.7%;

			.sidebar-container {
				flex: 0 0 14.7%;
				width: 14.7%;
			}
		}

		div.main-site {
			flex: 0 0 85.3%;
			max-width: 85.3%;
		}
	}
}