.statistics {

	.table-figures {

		table {

			tr {
				&:hover {
					background-color: inherit;
				}

				td {
					padding: 20px 0 7px;

					&:last-child {
						text-align: right;
					}
				}
			}
		}
	}

	.earnings-chart {

		.chart-container {
			text-align: center;
			vertical-align: middle;
			padding: 40px 0 60px;
			overflow-x: auto;
		}
	}
}

@media (min-width: 768px) {
	.statistics {

		.table-figures {

			.figures-left {
				padding-right: 34px;
			}

			.figures-right {
				padding-left: 34px;
			}
		}
	}
}