.add-banners,
.add-url {

	p {
		padding: 28px 10px 0;
	}

	.postback-row-padding {
		padding: 5px 7px;
	}

	.generated-link {
		max-width: 755px;
		display: inline-block;
	}

	.btn {
		margin: 0 8px;
		font-size: 18px;
		padding: 0 30px;

		i {
			color: $background-section-color;
			font-size: 16px;
			padding: 0 14px;
		}

		&.btn-disabled {
			padding-left: 8px;
			padding-right: 26px;
		}
	}

	.form-column-borders {
		max-height: 405px;

		.checkboxes {
			height: calc(100% - 3px);

			&.select-websites {

				label {
					a i {
						position: absolute;
						top: 14px;
						right: 14px;
						padding: 0;					
						display: none;
					}
				}

				label:hover {
					background-color: $background-main-color;

					a i {
						display: block;
					}
				}
			}

			&.three-columns {
				column-count: 3;
				overflow-x: hidden;

				label:first-child {
					margin-top: 0;
				}
			}
		}

		.three-columns-label {
			margin-bottom: 23px;
		}
	}

	.bottom-column {
		padding: 15px 10px 17px;
	}

}

@media (max-width: 767px) {
	.add-url .form-column-borders .checkboxes.three-columns {
		column-count: 1;
		overflow: auto;
	}
}