.links {
	padding-bottom: 5px;

	.btn {
		margin: 22px;
	}

	table {
		margin-top: 2px;
		margin-bottom: 0;

		tr {
			&:first-child {
				border-top: 1px solid $disabled-text-color;
			}

			td:last-child {

				.link-icons {
					display: block;
					
					a {
						display: inline-block;
						padding-right: 2px;
						padding-top: 10px;
						color: $main-text-color;

						&:hover {
							color: $brand-color;
						}

						i {
							font-size: $header-font-size;
						}
					}
				}
			}

			&:hover {
				td:last-child .link-icons a {
					display: inline-block;
				}
			}
		}
	}
}

@media (min-width: 768px) {

	.table-container {
		overflow: hidden;

		table tr {
			td:last-child {
				transform: translateX(25px);
				position: relative;

				.link-icons {
					position: absolute;
					right: 40px;
					top: 0;

					a {
						display: none;
						line-height: 58px;
						padding-top: 0;
					}
				}
			}
		}
	}
}